# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #

# not sure why this was being ignored. But need it for admin_tool JFX JARs
#*.jar

*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# should we ignore Eclipse and Idea project files? 
# I guess we'll allow them in case we break them and need to compare to previous versions

client/.gradle
**/build/*
.idea
.gradle

#server/.project
#*.idea
#*.prefs
#*.lst
